.carousel-caption {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 15px;
}

.carousel-caption h3 {
  color: black;
  font-weight: bold;
}

.carousel-caption p {
  color: black;
}

.carousel-image {
  height: 500px;
  object-fit: cover;
}

.card-image {
  height: 250px;
  object-fit: cover;
}

.custom-pink {
  background-color: #d63384;
}

.custom-purple {
  background-color: #727eff;
}

.custom-teal {
  background-color: #2e7574;
}

.custom-brown {
  background-color: #a35e35;
}